body{
    color:aliceblue;
    background-color:rgb(85, 151, 196);
}
form{
background-color:hsl(0, 7%, 89%);
color: black;
text-align: center;
max-width: 350px;
margin: auto;
padding: 25px;
border-radius: 5px;
box-shadow: 5px 5px 15px hsl(0, 0%, 0.3%);
}

#textBox{
    text-align: center;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 15px;
    border-radius: 4px;
    max-width: 100%; /* Added max-width here */
}
label{
    font-size 1.5em;
    font-weight:bold;
}

button{
    margin-top: 15px;
    background-color: rgb(59, 146, 180);
font-size: 1.5em;
border-radius: 5px;
border:none;
font-color:white;
padding:10px 15px;
cursor:pointer;
}
button:hover{
    background-color:hsl(197, 51%, 49%);
}
#result{
    font-size: 1.5em;
    font-style: bold;
}